.catalog-preview {
  margin: 0;
  padding: 0;
}

.catalog-preview__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 7px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    box-sizing: border-box;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 74px;
  }
}

.catalog-preview__item {
  background-color: $background-grey;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) and (max-width: 1219px) {
    position: relative;
    padding-left: 53px;
    padding-top: 77px;
    padding-bottom: 59px;
    padding-right: 279px;
    margin-bottom: 29px;

    &::after {
      content: "";
      position: absolute;
      right: 61px;
      top: 92px;
      background-color: $basic-green;
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    &--pro {
      padding-right: 311px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 52px;
    padding-right: 51px;
    padding-top: 67px;
    padding-bottom: 55px;
    margin: 0;
  }
}

.catalog-preview__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;

  &::after {
    content: "";
    position: absolute;
    left: 2px;
    top: -6px;
    background-color: $basic-green;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @media (min-width: $tablet-width) and (max-width: 1219px) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: -20px;
      left: 0;
    }
  }

  @media (min-width: $tablet-width) and (max-width: 1219px) {
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 64px;
    padding: 10px;
    padding-left: 162px;
    padding-right: 99px;
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-preview__icon-cat {
  &--slim {
    @media (max-width: $mobile-width) {
      position: absolute;
      left: 30px;
      top: 22px;
      z-index: 1;
      width: 50px;
      height: 50px;
    }

    @media (min-width: $tablet-width) and (max-width: 1219px) {
      position: absolute;
      right: 12px;
      top: 22%;
      width: 240px;
      height: 198px;
      z-index: 1;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 1;
      width: 100px;
      height: 140px;
      top: 20px;
      left: 68px;
    }
  }

  &--pro {
    @media (max-width: $mobile-width) {
      position: absolute;
      left: -13px;
      top: 35px;
      z-index: 1;
      width: 100px;
      height: 50px;
    }

    @media (min-width: $tablet-width) and (max-width: 1219px) {
      position: absolute;
      right: 16px;
      top: 36.5%;
      width: 360px;
      height: 198px;
      z-index: 1;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 1;
      width: 180px;
      height: 100px;
      top: 67px;
      left: -8px;
    }
  }
}

.catalog-preview__text {
  font-family: "Arial", sans-serif;
  color: $text-color;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) and (max-width: 1219px) {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    min-width: 342px;
    padding: 0;
    border: none;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    border: none;
  }
}

.catalog-preview__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;

  &:hover {
    .catalog-preview__icon-arrow {
      display: none;
    &--long {
      position: absolute;
      display: block;
      width: 32px;
      height: 14px;
      right: -46px;
    }
  }
}

  &:active {
    color: rgba(0, 0, 0, 0.3);
    fill: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.catalog-preview__icon-arrow {
  position: absolute;
  width: 25px;
  height: 14px;
  right: -39px;
  top: 5px;

  &--long {
    display: none;
    width: 32px;
    height: 14px;
    right: -46px;
  }
}

