.slider-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    overflow: visible;
  }
}

.slider-cat__container {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  &--before {
    position: relative;
    width: 100%;
    height: 240px;

    @media (min-width: $tablet-width) {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 517px;
      left: -99.7%;
      margin-right: -99.7%;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      width: 100%;
      height: 517px;
      top: -198px;
      margin-bottom: -198px;
      left: -93%;
      margin-right: -93%;
      overflow: hidden;
      z-index: 1;
    }
  }

  &--after {
    @media (min-width: $tablet-width) {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 517px;
      top: -525px;
      margin-bottom: -525px;
      left: 50%;
    }

    @media (min-width: $desktop-width) {
      height: 517px;
      top: -569px;
      margin-bottom: -569px;
      left: 53%;
      z-index: 0;
    }
  }
}

.slider-cat__img {
  &--after {
    @media (max-width: $mobile-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      left: -49%;
      width: 100%;
      height: 517px;
      z-index: 1;
      object-fit: contain;
      overflow: hidden;
    }

    @media (min-width: $desktop-width) {
      object-fit: cover;
      left: -53%;
    }
  }


  &--before {
    @media (max-width: $mobile-width) {
      position: absolute;
      width: 320px;
      max-width: 320px;
      left: calc(50% - 160px);
      top: -21px;
    }

    @media (min-width: $tablet-width) and (max-width: 1219px) {
      position: absolute;
      width: 100%;
      right: -51%;
      object-fit: contain;
      overflow: hidden;
      height: 517px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      left: 284px;
      object-fit: cover;
      height: 517px;
    }
  }
}

.slider-cat__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 35px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 68px;
    padding-right: 59px;
    padding-bottom: 67px;
    padding-top: 14px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 39px;
    padding-right: 0;
    padding-bottom: 66px;
    justify-content: space-between;
  }
}

.slider-cat__button {
  display: block;
  max-width: 30%;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 1px solid $basic-black;
  }

  &:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:active {
    border: none;

    @media (min-width: $tablet-width) {
      padding-bottom: 7px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 1px;
    }
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    font-size: 20px;
    padding: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    line-height: 32px;
    padding: 0;
  }
}

.slider-cat__bar {
  @media (max-width: $mobile-width) {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid $border-grey;
    border-radius: 15px;
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 73.5%;
    height: 6px;
    background-color: $border-slider;
    border-radius: 3px;
  }
}


.slider-cat__toggle {
  @media (max-width: $mobile-width) {
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 10px;
    top: 4px;
    left: 6px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    left: 45.2%;
    top: -16px;
    background-color: $basic-white;
    border: 1px solid $border-grey;
    cursor: pointer;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      border: 1px solid $basic-green;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic-green;
      left: 38%;
      top: 13px;
      z-index: 1;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 46.4%;
    top: -16px;
  }
}
