.slider-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.slider-cat__container {
    @media (min-width: $tablet-width) {
    overflow: hidden;
    width: 100%;
    height: 517px;
    position: relative;
  }
}

.slider-cat__img {
  position: relative;

  &--after {
    @media (max-width: $mobile-width) {
    display: none;
  }

    @media (min-width: $tablet-width) {
      position: absolute;
      left: 40%;
      height: 517px;
      z-index: 1;
      width: 50%;
      object-fit: cover;
  }
}

  &--before {
    @media (min-width: $tablet-width) {
      position: absolute;
      left: 20%;
      width: 50%;
      object-fit: cover;
      height: 517px;
      z-index: 0;
    }
  }
}

.slider-cat__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 35px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 68px;
    padding-right: 59px;
    padding-bottom: 9px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 39px;
    padding-right: 0;
    padding-bottom: 58px;
    justify-content: space-between;
    order: 3;
  }
}

.slider-cat__button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  background: none;
  border: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted $basic-black;
    font-size: 20px;
    padding: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    line-height: 32px;
    padding: 0;
  }
}

.slider-cat__bar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $border-grey;
  border-radius: 15px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 75%;
    height: 6px;
    background-color: $border-slider;
    border: none;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 48.4%;
      top: -3px;
      border-radius: 50%;
      background-color: $basic-green;
      cursor: pointer;
    }
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    height: 6px;
    background-color: $border-slider;
    border: none;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 49.7%;
      top: -2px;
      border-radius: 50%;
      background-color: $basic-green;
      cursor: pointer;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 10px;
    top: 4px;
    left: 6px;

    @media (min-width: $tablet-width) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      left: 45.2%;
      top: -17px;
      background-color: $basic-white;
      border: 1px solid $border-grey;
      cursor: pointer;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    @media (min-width: $desktop-width) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      left: 46.5%;
      top: -16px;
      background-color: $basic-white;
      border: 1px solid $border-grey;
      cursor: pointer;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }
  }
}
