.slider-cat {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  flex-grow: 1;

  &::after {
    content: "";
    position: relative;
    display: block;
    background-image: url("../img/before-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 232px;
    top: 21px;
    left: 0;
    margin-bottom: 53px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/before-tablet@1x.png");
      background-position: 16px 0;
      width: 50%;
      height: 620px;
      top: 87px;
      left: 0;
      margin: 0;
      order: 1;
    }

    @media (min-width: $desktop-width) {
      width: 54%;
      height: 536px;
      top: -157px;
      left: -3px;
      margin-right: -3px;
      margin-bottom: -157px;
      padding: 0;
      background-image: url("../img/before-desktop@1x.png");
      background-position: 11% 0;
      background-repeat: no-repeat;
      z-index: 1;
      order: 1;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: none;
    padding-bottom: 58px;

    &::before {
      content: "";
      position: relative;
      display: block;
      background-image: url("../img/after-tablet@1x.png");
      background-position: -44vw 0;
      background-repeat: no-repeat;
      width: 50%;
      height: 507px;
      left: 0;
      top: 28px;
      order: 2;

      @media (min-width: $desktop-width) {
        position: relative;
        display: block;
        background-image: url("../img/after-desktop@1x.png");
        background-position: 85% 0;
        z-index: 1;
        width: 46%;
        height: 536px;
        top: -157px;
        left: -20px;
        margin-bottom: -157px;
        order: 2;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
    background-color: inherit;
  }
}

.slider-cat__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 5px;
  padding-right: 30px;
  padding-left: 35px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 68px;
    padding-right: 59px;
    padding-bottom: 9px;
    justify-content: space-between;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 39px;
    padding-right: 0;
    padding-bottom: 58px;
    justify-content: space-between;
    order: 3;
  }
}

.slider-cat__button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  background: none;
  border: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted $basic-black;
    font-size: 20px;
    padding: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    line-height: 32px;
    padding: 0;
  }
}

.slider-cat__bar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $border-grey;
  border-radius: 15px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 75%;
    height: 6px;
    background-color: $border-slider;
    border: none;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 48.4%;
      top: -3px;
      border-radius: 50%;
      background-color: $basic-green;
      cursor: pointer;
    }
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    height: 6px;
    background-color: $border-slider;
    border: none;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      left: 49.7%;
      top: -2px;
      border-radius: 50%;
      background-color: $basic-green;
      cursor: pointer;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 10px;
    top: 4px;
    left: 6px;

    @media (min-width: $tablet-width) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      left: 45.2%;
      top: -17px;
      background-color: $basic-white;
      border: 1px solid $border-grey;
      cursor: pointer;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    @media (min-width: $desktop-width) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      left: 46.5%;
      top: -16px;
      background-color: $basic-white;
      border: 1px solid $border-grey;
      cursor: pointer;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }
  }
}
