.additional-goods {
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 58px;
    overflow: visible;
  }
}

.additional-goods__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3.7fr 1fr;
    column-gap: 80px;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
}

.additional-goods__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      transform: translate(70%);
      left: 23px;
      height: 2px;
      box-sizing: border-box;
      bottom: 31px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    padding-right: 40px;
    margin-bottom: 56px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 10vw;
      background-color: $basic-green;
      left: -80px;
      bottom: 40%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100vw;
      background-color: $basic-green;
      left: calc(100% - 38.8vw);
      bottom: 40%;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-bottom: 55px;
    padding-left: 0;
    padding-right: 24em;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100vw;
      background-color: $basic-green;
      left: -100px;
      transform: translate(-97%);
      bottom: 40%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: $basic-green;
      left: 31%;
      width: 100vw;
      bottom: 40%;
    }
  }
}

.additional-goods__list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    border: 1px solid $border-catalog;
    padding: 0;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    row-gap: 10px;
    padding: 0;
    margin: 0;
  }
}

.additional-goods__item {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid $border-grey;

  &:first-child {
    border-top: 1px solid $border-grey;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 25px;
    padding-left: 38px;
    padding-right: 38px;

    &:not(:last-child) {
      border-bottom: 1px solid $background-grey;
      text-align: center;
    }

    &:first-child {
      border-top: none;
      padding-top: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 2fr 244px;
    column-gap: 42px;
    border-bottom: 1px solid $border-grey;
    align-items: center;
    line-height: 20px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    &:first-child {
      border-top: 1px solid $border-grey;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.additional-goods__name {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $catalog-title;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: inline-flex;
    vertical-align: middle;
    border: none;
    width: 50%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }
}

.additional-goods__description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: $text-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
}

.additional-goods__features {
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-right: 49px;
  }
}

.additional-goods__features-name {
  text-align: right;
  margin: 0;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional-goods__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0;
  padding-left: 109px;
  padding-right: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}

.additional-goods__inner {
  display: inline-block;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 4px;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 35px;


  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 71px 124px 69px 423px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
}

.additional-goods__text {
  position: relative;
  margin: 0;
  padding: 184px 54px 41px 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    background: none;
    padding: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 187px 40px 42px 40px;
  }
}

.additional-goods__icon {
  position: absolute;
  left: 113px;
  top: 66px;
  fill: $basic-white;

  @media (min-width: $tablet-width) {
    left: 90px;
    top: 64px;
  }

  @media (min-width: $desktop-width) {
    left: 95px;
  }
}
