.catalog {
  padding: 0;
  margin: 0;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  padding: 27px 20px 41px 20px;
  border-top: 1px solid $footer-border;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border: none;
    padding-bottom: 163px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 57px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
    padding: 0 30px;
    margin-bottom: 38px;
  }
}

.catalog__item {
  border-bottom: 1px solid $border-catalog;
  padding: 0 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:first-child {
    border-top: 1px solid $border-catalog;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      background-color: $basic-white;
      border: 1px solid $background-grey;
    }
  }

  &--bg {
    background-color: $basic-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      justify-content: flex-end;
    }

    .catalog__text {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 79px;
      padding-bottom: 4px;
      text-align: center;

      @media (min-width:$tablet-width) {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 0;
        font-size: 20px;
        line-height: 22px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 44%;
        top: 38%;
        width: 30px;
        height: 2px;
        background-color: $catalog-icon;

        @media (min-width: $tablet-width) {
          left: 38%;
          top: -93%;
          width: 60px;
          height: 2px;
          background-color: $catalog-icon;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 44%;
        top: 38%;
        width: 30px;
        height: 2px;
        background-color: $catalog-icon;
        transform: rotate(90deg);

        @media (min-width: $tablet-width) {
          left: 38%;
          top: -93%;
          width: 60px;
          height: 2px;
          background-color: $catalog-icon;
        }
      }
    }

    .catalog__features {
      font-size: 12px;
      line-height: 16px;
      font-family: "Arial", sans-serif;
      margin: 0;
      padding-top: 4px;
      padding-bottom: 21px;
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: $tablet-width) {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 85px;
        padding-top: 22px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 40px;
    background-color: $background-grey;
  }
}

.catalog__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
}

.catalog__link {
  text-decoration: none;
}

.catalog__img {
  width: 100%;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -35px;
    margin-bottom: -35px;
  }
}

.catalog__wrapper {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: $catalog-item__title;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 10px 55px 23px 55px;
  }
}

.catalog__description-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 31px;
  }
}

.catalog__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid $border-grey;
    padding-top: 5px;
    padding-bottom: 7px;
    align-items: center;
    align-content: center;

    &:not(:first-child) {
      padding-top: 5px;
    }
  }
}

.catalog__button {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
