.catalog {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.catalog__box {
  background-color: $basic-white;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 110px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0;
  padding: 25px 20px 40px 20px;
  border-top: 1px solid $footer-border;
  border-bottom: 1px solid $border-catalog;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border: none;
    padding-bottom: 36px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 38px;
    margin-bottom: 127px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
    padding-top: 53px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 140px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    padding-top: 15px;
    row-gap: 143px;
    column-gap: 80px;
    margin-bottom: 48px;
  }
}

.catalog__item {
  display: grid;
  grid-template-rows: 2fr auto;
  border-bottom: 1px solid $border-catalog;
  padding-top: 17px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 165px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 39px;
    padding-right: 37px;
    padding-bottom: 40px;
    background-color: $background-grey;
    border: none;
    row-gap: 0;
    overflow: visible;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
    padding-right: 38px;
    padding-left: 39px;
    padding-bottom: 40px;
  }
}

.catalog__item--bg {
  background-color: $basic-white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  padding-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
  order: 1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 37px;
    background-color: $basic-white;
    border: 1px solid $background-grey;
  }

  @media (min-width: $desktop-width) {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  & .catalog__text {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 6px;
    margin: 0;
    text-align: center;
    color: $contacts-text;

    @media (min-width: $tablet-width) {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 0;
      font-size: 20px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 10px;
      padding-bottom: 11px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 15px);
      top: 20px;
      width: 30px;
      height: 2px;
      background-color: $catalog-icon;

      @media (min-width: $tablet-width) {
        left: calc(50% - 31px);
        top: -61px;
        width: 60px;
        height: 2px;
        background-color: $catalog-icon;
      }

      @media (min-width: $desktop-width) {
        left: calc(50% - 31px);
        top: -70px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(50% - 15px);
      top: 20px;
      width: 30px;
      height: 2px;
      background-color: $catalog-icon;
      transform: rotate(90deg);

      @media (min-width: $tablet-width) {
        left: calc(50% - 30px);
        top: -62px;
        width: 60px;
        height: 2px;
        background-color: $catalog-icon;
      }

      @media (min-width: $desktop-width) {
        left: calc(50% - 30px);
        top: -71px;
      }
    }
  }

  & .catalog__features {
    font-size: 12px;
    line-height: 16px;
    font-family: "Arial", sans-serif;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    color: $text-color;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 65px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 12px 0 66px 0;
    }
  }
}

.catalog__conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__link {
  position: relative;
  text-decoration: none;
  display: block;

  &:focus {
    outline: 1px solid $basic-black;
  }
}

.catalog__link--img-small {
  position: relative;
  display: block;
  text-align: center;
  top: -19px;
  margin-bottom: -19px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -48px;
    left: calc(50% - 163px);
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    top: -89px;
    left: calc(50% - 123px);
    width: 243px;
  }
}

.catalog__link--img {
  position: relative;
  display: block;
  text-align: center;
  top: -17px;
  margin-bottom: -17px;
  width: 140px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -72px;
    left: calc(50% - 163px);
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    top: -117px;
    left: calc(50% - 123px);
    width: 243px;
  }
}

.catalog__img {
  display: block;
}

.catalog__wrapper {
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
    padding-top: 102px;
  }
}

.catalog__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: $catalog-item__title;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  padding-right: 40px;
  padding-top: 5px;

  &:focus {
    outline: 1px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    padding-top: 161px;
    padding-right: 46px;
    padding-left: 46px;
    padding-bottom: 10px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    padding: 25px 10px 23px 13px;
    margin-bottom: 0;
  }
}

.catalog__description-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 31px;
  }
}

.catalog__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid $border-grey;
    line-height: 24px;
    padding-bottom: 2px;

    &:not(:first-child) {
      padding-top: 5px;

      @media (min-width: $tablet-width) {
        padding-top: 5px;
      }

      @media (min-width: $desktop-width) {
        padding: 0;
        line-height: 30px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.catalog__button {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;

  &:focus {
    outline: 1px solid $basic-black;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
