.main-form {
  padding: 0;
  margin: 0;
  font-weight: 400;
  overflow: hidden;
}

.main-form__title {
  padding: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  border-top: 1px solid $footer-border;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 37px;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 53px;
  }
}

.main-form__subtitle {
  margin: 0;
  padding-top: 5px;
  padding-right: 28px;
  padding-left: 20px;
  padding-bottom: 33px;
  text-align: left;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40%;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
    padding-right: 70%;
    padding-left: 0;
  }
}

.main-form__form {
  padding: 0;
  margin: 0;
}

.main-form__fieldset {
  border: none;
  padding: 0 20px;
  padding-top: 5px;
  padding-bottom: 9px;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid $footer-border;

  @media (min-width: $tablet-width) and (max-width: 1219px) {
    margin-bottom: 54px;
    border: none;
    padding: 0;

    &--options .main-form__caption {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border: none;

    &--options .main-form__caption {
      margin-bottom: 57px;
    }
  }

  &--border {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) and (max-width: 1219px) {
      border: 1px solid $border-grey;
      padding: 24px 10px 24px 10px;
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      border: 1px solid $input-border;
      padding-left: 28px;
      padding-right: 221px;
      padding-top: 25px;
      padding-bottom: 15px;
      margin-bottom: 30px;
    }
  }

  &--contacts,
  &--comments,
  &--options {
    border: none;
    padding: 0 20px;
    margin: 0;
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      padding: 0 40px;
      margin-bottom: 47px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
      padding: 0;
    }
  }

  &--options {
    @media (min-width: $tablet-width) {
      margin-bottom: 39px;
    }
  }
}

.main-form__container {
  &--questionnaire {
    @media (min-width: $tablet-width) {
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 80px;
      margin-bottom: 41px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--contacts {
    & .main-form__input {
      margin-left: 10px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &--options {
    @media (min-width: $tablet-width) and (max-width: 1219px) {
      padding: 7px 10px 10px 13px;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 31px;
      column-gap: 82px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
      margin-bottom: 21px;
    }
  }
}

.main-form__label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  cursor: pointer;

  &--tel,
  &--email {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 19px;
  }
}

.main-form__icon {
  position: absolute;
  z-index: 1;
  right: 16px;
  fill: $catalog-item__title;

  &--phone {
    right: 14px;
  }
}

.main-form__input {
  flex-grow: 1;
  text-align: left;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  border: 1px solid $input-border;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-left: 14px;
  box-sizing: border-box;
  outline: none;
  width: 50%;

  &:not(:placeholder-shown):invalid {
    border: 1px solid $invalid-input;
  }

  &:not(:placeholder-shown):invalid + .main-form__icon {
    fill: $invalid-input;
  }

  &:hover {
    border: 1px solid $border-grey;
  }

  &:focus {
    outline: 2px solid $text-color;
  }

  &:focus + .main-form__icon {
    fill: $basic-green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-left: 18px;
    padding-bottom: 10px;
    padding-top: 11px;
  }
}

.main-form__text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  color: $catalog-item__title;
  padding-left: 45px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 77px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-right: 10px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
  }
}

.main-form__radiobtn {
  position: relative;
  appearance: none;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -5px;
    width: 28px;
    height: 28px;
    border: 1px solid $border-grey;
    border-radius: 50%;


    @media (min-width: $tablet-width) {
      left: -60px;
      top: -13px;
      width: 40px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      top: -13px;
    }
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -37px;
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: -48px;
      top: -1px;
      width: 18px;
      height: 18px;
    }

    @media (min-width: $desktop-width) {
      top: -1px;
    }
  }
}

.main-form__caption {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  padding-right: 22vw;
  padding-top: 17px;
  padding-bottom: 11px;
  margin-bottom: 20px;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: $basic-green;
    left: 75%;
    bottom: 40%;

    @media (min-width: $tablet-width) {
      left: 94%;
      bottom: 35%;
    }

    @media (min-width: $desktop-width) {
      right: calc(50% - 50vw);
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: $basic-green;
      left: -70px;
      bottom: 35%;
    }

    @media (min-width: $desktop-width) {
      width: 100vw;
      left: -100px;
      transform: translate(-97%);
      bottom: 40%;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 66px;
    padding-right: 10vw;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
    padding: 0;
    padding-right: 4vw;
  }
}

.main-form__label--email {
  position: relative;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;

    & .main-form__input {
      margin-left: 20px;
      padding-left: 19px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin: 0;
    margin-right: 78px;
    padding-right: 0;
    width: 26%;
  }
}

.main-form__label--tel {
  margin: 0;

  @media (min-width: $tablet-width) {
    & .main-form__input {
      margin-left: 12px;
      padding-left: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin: 0;
  }
}

.main-form__textarea {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  border: 1px solid $input-border;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  resize: none;

  &:hover {
    border: 1px solid $border-grey;
  }

  &:focus {
    outline: 2px solid $text-color;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: top;
    padding-top: 9px;
    padding-left: 18px;
    width: 100%;
    box-sizing: border-box;
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $basic-black;
  padding: 0;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 4px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 10;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 10px;
    padding-left: 42px;
  }
}

.main-form__checkbox {
  position: relative;
  margin: 0;
  margin-right: 15px;
  outline: none;
  width: 0;
  height: 0;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -5px;
    width: 28px;
    height: 28px;
    margin-left: 15px;
    border: 1px solid $border-grey;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      left: -58px;
      top: -13px;
    }
  }

  &:hover::before {
    border: 1px solid $hover-radio;
  }

  &:checked::after {
    content: "";
    position: absolute;
    left: -20px;
    top: -2px;
    width: 9px;
    height: 14px;
    border: solid $basic-green;
    border-width: 0 2px 2px 0;
    transform: rotate(43deg);
    cursor: pointer;

    @media (min-width: $tablet-width) {
      left: -28px;
      top: -1px;
    }
  }
}

.main-form__button {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 21px;
  border: none;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    min-width: 282px;
  }
}

.main-form__footnote {
  text-align: center;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 0;
  }
}

.main-form__inner {
  padding: 15px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 0;
    padding-left: 40px;
    padding-bottom: 70px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0;
    margin-bottom: 78px;
  }
}
