.main-contacts {
  padding: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}


.main-contacts__wrapper {
  display: flex;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 28px;
  padding-top: 2px;
  align-items: center;

  &--grey {
    background-color: $background-grey;
    padding-top: 15px;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      align-content: center;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 62px;
    padding-bottom: 58px;
    padding-left: 62px;
    padding-right: 62px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: $basic-white;
    width: 570px;
    top: 95px;
    left: 70px;
    padding: 66px 89px 60px 76px;
  }
}

.main-contacts__inner {
  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    align-content: center;
  }
}

.main-contacts__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $contacts-text;
  text-align: left;
  margin-right: 10px;
  width: 65%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    padding: 0;
    padding-right: 200px;
  }

  &--js {
    @media (min-width: $desktop-width) {
      padding: 0;
      margin-right: 30px;
    }
  }
}

.main-contacts__address {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $contacts-text;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  &--js:first-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--js {
    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}
