.main-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 20px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__logo {
  position: relative;
  width: 190px;
  height: 37px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 12px;
  padding-right: 20px;


  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-left: 0;
    padding-right: 20px;
  }
}

.main-nav__img {
  padding: 0;
  margin: 0;
}

.main-nav__toggle {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    height: 32px;
    background-color: $basic-white;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @media (max-width: $mobile-width) {
    content: "";
    position: absolute;
    top: 24px;
    left: -20px;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $mobile-width) {
    top: 22px;
    right: -30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -43px;
      width: 25px;
      height: 2px;
      background-color: $basic-black;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: static;
  min-height: 0;
}

.main-nav__list {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    font-size: 20px;
    line-height: auto;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      width: 720px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      bottom: 30px;
      top: 0;
      z-index: -1;
    }
  }
}

.main-nav__item {
  border-top: 1px solid $border-color;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 69px;
  padding-right: 70px;


  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-nav__link {
  color: $basic-black;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    .main-nav__list--white & {
      color: $basic-white;
    }
  }
}
