.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  padding-top: 36px;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 53px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0;
  }
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
