.page {
  height: 100%;
}

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: $basic-black;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  min-width: 320px;
  background-color: $basic-white;
  height: 100%;
  margin: 0 auto;
  counter-reset: section;
}

.page__container {
  background-color: $basic-white;
  margin: 0 auto;

  &--footer {
    background-color: $background-grey;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &--main-result {
    background-color: $background-results;
    padding: 0 20px;
  }

  &--main-contacts {
    background-color: $background-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    &--main-result-white {
      background-color: $background-results;
      background-image: linear-gradient($basic-white 55.5%, $background-results 55.5%);
    }

    &--form {
      padding: 0 30px;
    }

    &--footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15%;
      width: 100%;
      align-items: center;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0 110px;

    &--main-result {
      overflow: hidden;
    }

    &--header {
      overflow: visible;
    }

    &--footer {
      width: 100%;
      column-gap: 25%;
    }

    &--main-result-white {
      background-color: $background-results;
      background-image: linear-gradient($basic-white 29.5%, $background-results 29.5%);

      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 696px;
        background-color: $basic-green;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        right: 0;
        top: 0;
        z-index: 0;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}
