.page-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
