.page {
  height: 100%;
}

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: $basic-black;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  min-width: 320px;
  background-color: $basic-white;
  height: 100%;
  margin: 0 auto;
  counter-reset: section;
}

.page__container {
  background-color: $basic-white;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;

  &--footer {
    background-color: $background-grey;
  }

  &--main-result {
    background-color: $background-results;
  }

  &--main-contacts {
    background-color: $background-grey;
  }


  @media (min-width: $tablet-width) {
    max-width: 1219px;
    padding: 0 30px;

    &--main-result-white {
      background-color: $basic-white;
    }

    &--form {
      padding: 0 70px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px;
  }
}
