.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 52px;
  padding-right: 60px;
  border-top: 1px solid $footer-border;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__item {
  list-style: none;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  fill: $icon-color;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }
}
