.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 52px;
  padding-right: 60px;
  border-top: 1px solid $footer-border;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 30px;
    padding-left: 12px;
    border: none;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-right: 48px;
    padding-left: 33px;
  }
}

.social__item {
  list-style: none;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  fill: $icon-color;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.social__icon {
  @media (min-width: $tablet-width) {
    &--vk {
      width: 29px;
      height: 17px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 13px;
      height: 29px;
    }
  }
}
